{% extends 'form_template.html' %}
{% block form %}
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        Old password:
        <input class='form-control' type="password" name="old_password">
            {% if form.errors.old_password %}
             {{ form.errors.old_password }}
            {% endif %}
        New password:
        <input class='form-control' type="password" name="new_password1">
            {% if form.errors.new_password1 %}
             {{ form.errors.new_password1 }}
            {% endif %}
        Confirm new password:
        <input class='form-control' type="password" name="new_password2">
        {% if form.errors.new_password2 %}
         {{ form.errors.new_password2 }}
        {% endif %}
        <br>
        <button class="btn btn-primary d-block w-100" type="submit">Change Password</button>
    </form>
{% endblock %}