{% extends 'user_template.html' %}
{% block user_data %}
                {% for post in posts %}
                <div class="col-12 col-md-6">
                    <div class="card"><img class="card-img w-100 d-block" style="height: 300px; width: auto" src="{{ post.picture.url }}">
                        <div class="card-img-overlay text-center d-flex flex-column justify-content-center align-items-center p-4">
                        </div>
                    </div>
                    <p><a href="{% url 'post' post.pk %}" style="text-decoration: none">{{ post.description }}</a></p>
                    <p style="font-size:70%;">{{ post.date }}</p>
                </div>
                {% endfor %}
            <div class="pagination">
                <span class="step-links" style="text-align: center;">
                    {% if posts.has_previous %}
                        <a href="?page={{ posts.previous_page_number }}">newer</a>
                    {% endif %}
                    {% if posts.has_next %}
                        <a href="?page={{ posts.next_page_number }}">older</a>
                    {% endif %}
                </span>
            </div>
            </div>
        </div>
    </section>
{% endblock %}